<section class="home-cont add-input-cont">
    <div class="heading">Please enter inputs</div>
    <form class="body" name="inputForm">
        <div>
            <input type="text" ng-change="addInput.result = undefined" ng-model="addInput.input1" name="input1" required ng-pattern="/^[0-9]*$/" />
        </div>
        <div>
            <input type="text" ng-change="addInput.result = undefined" ng-model="addInput.input2" name="input2" required ng-pattern="/^[0-9]*$/" />
        </div>
        <div>
            <button  app-calculate click-value="addInput.saveData" inputs="addInput.getValues()"
                ng-disabled="inputForm.$invalid">Calculate</button>
        </div>
        <div ng-if="addInput.result">
            Result: {{addInput.result}}
        </div>
    </form>
</section>